.item-table {
  table-layout: auto;
  width: 100%;
}
footer {
     display: block;
     position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #969696;
    text-align: center;
}
.tax,.total,.shipping_fee,.total_payment{
 text-align:right;
}
