<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>website name</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body bgcolor="#d0d0d0">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse " style="background-color: #e3f2fd;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span>Toggle navigation</span>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="/">website address</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
          <span class="caret"></span>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <ul>
                <li><a class="dropdown-item" href="#">About us</a></li>
                <li><a class="dropdown-item" href="#">News</a></li>
                <li><a class="dropdown-item" href="/contact">Contact us</a></li>
            </ul>
          </div>
        </li>
        <li><a href="/products">Product</a></li>
        <li><a href="/cart">My Cart</a></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>

     <form class="form-inline" style="float:right;">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
    </div><!-- /.container-fluid -->
  </nav>

  <div>
      <h1>Welcome </h1>
      <div class="second_div">
		<div id="transImageBox" class="trans_image_box">
            <img class="trans_image" src="file:///C:/Users/a/Desktop/Pics/YOKOTA/IMG_0860.jpg" width="800" height="600" />
        </div>
      </div>
  </div>

  <div id="footer">
 Copyright website name
 </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
