{%  extends 'base.html' %}
{% block add %}
<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22">
    <a href="/product">Products</a>
</li>
{% endblock%}

{% block content %}
<div class="paydone"  style="height:100px;font-size:160%;float:left;color:DarkRed;">
    <h1>Thank You For Shopping With Us</h1>
    <p>Your payment has been successfully received.</p>
    <p>Your order number is <strong>{{ order.sid }}</strong>.</p>
</div>
{% endblock %}

<!--sb-h4h5y11565@personal.example.com-->
<!--135781012-->
<!--bussiness   sb-ijvwk41832@business.example.com-->
<!--809301Hxq-->