{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}
{% load mathfilters %}

{% block title %}
    Order {{ order.sid }}{{ block.super }}
{% endblock title %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin-extra.css" />
{% endblock extrastyle %}

{% block branding %}
CandleShop
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url "admin:index" %}">Admin Home Link</a>
        <a href="{% url "admin:order_order_changelist" %}">Order Link  </a>
        <a href="{% url "admin:order_order_change" order.order_id %}">Change Order {{ order.sid }}</a>
    </div>
{% endblock breadcrumbs %}

{% block content %}
<div class="js-inline-admin-formset inline-group">
    <div class="tabular inline-related last-related">
    <fieldset class="module">
    <h1>Order {{ order.sid }}</h1>

    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();">Print order</a>
        </li>
    </ul>

    <table>
        <tr>
            <th>Created</th>
            <td>{{ order.create_time}}</td>
            <th>updated</th>
            <td>{{ order.update_time}}</td>
        </tr>
        <tr>
            <th>Customer</th>
            <td>{{ order.user }} </td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ order.addr }}, {{ order.zip_code }} ,{{ order.city }} ,{{order.state}}</td>
        </tr>
        <tr>
            <th>Payment</th>
            <td> {% if  order.pay_method == 1 %}
            PAYPAL
            {% else %}
            CREDIT
             {% endif %}
            </td>
        </tr>
        <tr>
            <th>Total quantity</th>
            <td>{{ order.total_quantity }}</td>
        </tr>
        <tr>
            <th>Trade</th>
            <td>{{order.trade_no}}</td>
        </tr>
    </table>
    </fieldset>
    </div>
</div>

<div class="js-inline-admin-formset inline-group">
    <div class="tabular inline-related last-related">
    <fieldset class="module">
        <h2>Items bought</h2>
        <table  class="item-table">
            <!--style="table-layout: auto; width: 100%;border-collapse: collapse;"-->
            <thead>
                <tr>
                    <th class="required">Product</th>
                    <th class="required">SKU</th>
                    <th class="required">Price</th>
                    <th class="required">Quantity</th>
                    <th class="required">subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr class="row{% cycle "1" "2" %}">
                        <td> {{ item.product.name }}</td>
                        <td> {{ item.product.id }}</td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">${{ item.subtotal }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td class="total" colspan="4">Total(before tax & shipping fee):</td>
                    <td class="num">${{ order.total_price }}</td>
                </tr>
                <tr>
                    <td class="tax" colspan="4">Tax:</td>
                    <td class="num">${{ order.tax }}</td>
                </tr>
                <tr>
                    <td class="shipping_fee" colspan="4">Shipping fee:</td>
                    <td class="num">${{ order.shipping_fee }}</td>
                </tr>
                <tr>
                    <td class="total_payment" colspan="4">Total_payment:</td>

                    <td class="num">${{order.total_price|addition:order.tax|addition:order.shipping_fee}} </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    </div>
</div>
{% endblock content %}

{% block footer %}
<footer>
  <p>Thanks for shopping in CandleShop!</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer>

{% endblock %}